body {
    font-size: 1.5rem;
    line-height: 2rem;
}

a {
    text-decoration: none;
}

#body-logo {
    background: url(./images/logo-gold-2.svg) no-repeat center;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    z-index: -1;
    opacity: .4;
}

.sticky-content, .main-content, .footer-content {
    padding-left: 14rem;
    padding-right: 14rem;
}

@media (max-width: 1550px) {
    .sticky-content, .main-content, .footer-content {
        padding-left: 11rem;
        padding-right: 11rem;
    }
}

@media (max-width: 1350px) {
    .sticky-content, .main-content, .footer-content {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

@media (max-width: 1200px) {
    .sticky-content, .main-content, .footer-content {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (max-width: 1050px) {
    .sticky-content, .main-content, .footer-content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 992px) {
    .sticky-content, .main-content, .footer-content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}